@implements IAsyncDisposable

@inject IJSRuntime Js

<div id="captcha"></div>

@code {
    [Parameter]
    [EditorRequired]
    public string SiteKey { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnSuccess { get; set; }

    [Parameter]
    public EventCallback<string> OnExpired { get; set; }

    private IJSObjectReference module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await Js.InvokeAsync<IJSObjectReference>(
                "import",
                "./_content/BlazorUtils/Components/Captcha.razor.js");

            await module.InvokeAsync<int>(
                "initializeCaptcha",
                DotNetObjectReference.Create(this),
                "captcha",
                SiteKey);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    [JSInvokable]
    public async Task Success(string response)
        => await OnSuccess.InvokeAsync(response);

    [JSInvokable]
    public async Task Expired(string response)
        => await OnExpired.InvokeAsync(response);

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
